#define IDC_TITL 201
#define IDD_MAIN 1000
#define IDC_MAIN_STITLE 1001
#define IDC_MAIN_SNAME 1002
#define IDC_MAIN_SSERIAL 1003
#define IDC_MAIN_ENAME 1004
#define IDC_MAIN_ESERIAL 1005
#define IDC_MAIN_BABOUT 1006
#define IDC_MAIN_BCLOSE 1007
#define IDC_MAIN_BGEN 1008
#define IDD_ABOUT 2000
#define IDC_ABOUT_STITLE 2003
#define IDC_ABOUT_SINFO 2004
#define IDC_ABOUT_BCLOSE 2005

#include "c:/masm32/include/resource.h"

200 ICON DISCARDABLE "res/app.ico"

IDD_MAIN DIALOGEX 10,10,178,91
FONT 8,"Verdana",0,0,0
STYLE WS_POPUP|WS_VISIBLE|DS_CENTER
BEGIN
  CONTROL "",IDC_MAIN_STITLE,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_LEFTNOWORDWRAP,4,4,120,9
  CONTROL "",IDC_MAIN_SNAME,"Static",WS_CHILDWINDOW|WS_VISIBLE,9,32,29,9
  CONTROL "",IDC_MAIN_SSERIAL,"Static",WS_CHILDWINDOW|WS_VISIBLE,9,52,29,9
  CONTROL "",IDC_MAIN_ENAME,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_CENTER,46,31,123,9
  CONTROL "",IDC_MAIN_ESERIAL,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_CENTER,46,52,123,9
  CONTROL "?",IDC_MAIN_BABOUT,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_OWNERDRAW,151,3,10,10
  CONTROL "X",IDC_MAIN_BCLOSE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_OWNERDRAW,165,3,10,10
  CONTROL "Generate",IDC_MAIN_BGEN,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_OWNERDRAW,129,70,40,12
END

IDD_ABOUT DIALOGEX 0,0,130,122
FONT 8,"Verdana",0,0,0
STYLE WS_POPUP|WS_VISIBLE|DS_CENTER|DS_SETFONT
BEGIN
  CONTROL "",IDC_ABOUT_STITLE,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,4,4,110,9
  CONTROL "",IDC_ABOUT_SINFO,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_CENTER,6,24,117,72
  CONTROL "Close",IDC_ABOUT_BCLOSE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_OWNERDRAW,49,102,34,12
END

